<%= stylesheet_link_tag "schedules.css" %>

<h1 id="pagetitle"><%= @schedule.name %></h1>

<% if logged_in_person_can_edit? @context -%>
  <h2>Administration</h2>

  <ul>
    <li><%= link_to "Edit schedule", edit_schedule_path(@schedule) %></li>
    <li><%= link_to "Check event health", :controller => "schedules", :action => "health", :id => @schedule.id %></li>
  </ul>
<% end -%>

<% if @blocks.empty? -%>
  <p>There are no events on this schedule.</p>
<% else -%>
  <% @blocks.each do |block| -%>
    <%= schedule_block(@schedule, block) %>
  <% end -%>
<% end -%>
