<li>
  <%= fields.hidden_field :is_staff -%>
  <%= fields.hidden_field :counts -%>
  
  <% if fields.object.new_record? -%>
    <%= fields.person_field :person_id %>
  <% else -%>
    <%= fields.object.person.name %>
    (<%= fields.label :_destroy, "Remove:" %> <%= fields.check_box :_destroy %>)
  <% end -%>
</li>