<h1 id="pagetitle">Editing <%= @the_template.name %></h1>

<%= error_messages_for :the_template %>

<%= render :partial => "preview", :locals => { :site_template => @the_template } %>

<% form_for(:the_template, :url => site_template_path(@the_template), :html => { :multipart => true, :method => :put }) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', site_template_path(@the_template) %> |
<%= link_to 'Back', site_templates_path %>