<h1><%= event.fullname %></h1>
<% if include_scheduling_details -%>
  <p style="font-style: italic;">
	  <%= render :partial => "events/schedulingdetails", :locals => { :event => event } %>
  </p>
<% end -%>

<% if include_blurb -%>
 <% if not event.description.blank? -%>
    <h2>Description</h2>

    <p><%= event.description %></p>
  <% elsif not event.blurb.blank? -%>
    <h2>Blurb</h2>

    <p><%= event.blurb %></p>
  <% end -%>
<% end -%>

<% if include_stafflist -%>
  <%= render :partial => "events/stafflist", :locals => { :event => event } %>
<% end -%>

<% attendees = event.attendances.counted.for_agenda.all.map(&:person) -%>
<% empty_slot_min ||= 6 -%>

<% counter = 1 -%>
<% empty_slots = 0 -%>
<% attendees.each do |att| -%>
	<div class="slot">
		<b><%=counter%>.</b> <%= att.name %>
	</div>
	<% counter += 1 -%>
<% end -%>

<% if event.kind_of?(LimitedCapacityEvent) -%>
	<% event.attendee_slots.each do |slot| -%>
		<% if not slot.full? -%>
			<% (slot.max - slot.count).times do -%>
				<div class="slot empty">
					<b><%=counter%>.</b>
					<% if slot.gendered? -%>
						<i>(<%= slot.gender %>)</i>
          <% end -%>
          <% empty_slots += 1 -%>
				</div>
				<% counter += 1 -%>
			<% end -%>
		<% end -%>
	<% end -%>
<% else -%>
  <% empty_slot_min.times do -%>
    <div class="slot empty">
      <b><%=counter%>.</b>
      <% counter += 1 -%>
      <% empty_slots += 1 -%>
    </div>
  <% end -%>
<% end -%>

<% attendees = event.attendances.waitlist.for_agenda.map(&:person) -%>

<% if attendees.length > 0 or empty_slots < empty_slot_min -%>
	<h2>Waitlist</h2>
	
	<% counter = 1 -%>
	<% attendees.each do |att| -%>
		<div class="slot">
			<b><%=counter%>.</b> <%= att.name %>
		</div>
		<% counter += 1 -%>
	<% end -%>
  <% if empty_slots < empty_slot_min -%>
    <% (empty_slot_min - empty_slots).times do -%>
      <div class="slot empty">
        <b><%=counter%>.</b>
      </div>
      <% counter += 1 -%>
    <% end -%>
  <% end -%>
<% end -%>
